* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: #0B0C10;
}

  #slideshow {
    max-width: 100%;
    margin: 0;
    width: 100%;
  }

  
  .slide {
    display: none;
    width: 100%;
    height: 500px;
  }

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0C10;
    padding: 10px 40px;
    
}

.menu {
    display: flex; 
    align-items: center;
}

.socials li,
.menu li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}

.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
    transition: background-color .1s ease-in-out;
}

.menu li a:hover {
    background-color: #2a4c89;
}

.icon {
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

.language-switcher {
    margin-left: 40px;
    color: #fff;
}

.language-switcher span.active {
    font-weight: 400;
}

.language-switcher span {
    cursor: pointer;
}

.language-switcher span:nth-child(1) {
   border-right: 1px solid rgb(227, 227, 227);
   padding-right: 8px;
   margin-right: 4px;
}

.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
    background-color: #45a29e;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  
  .progress-bar {
    width: 0;
    height: 3px;
    background-color: #45a29e
    ; 
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1000;
    transition: width 0.3s ease;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.tijden {
  margin-left: 10vw;
  width: 100%;
  margin-top: -19vw;
  color: whitesmoke;
}

.tijden h2 {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-bottom: 10px;
  color: whitesmoke;
}

#foto1 {
  height: 40vb;
  margin-left: 55vw;
  margin-top: 30vw;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.slideshow-container {
  background-color: white;
}

.reviews{
  padding: 40px 0;
  text-align: center;
  color: whitesmoke;
  text-align: center;
  margin-top: 60px;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background:hwb(183 3% 33%);
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  box-sizing: border-box;
  padding: 15px;
}

.review{
  background:  hwb(183 3% 33%);
  padding: 30px;
}

.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars{
  margin-bottom: 20px;
}

.reviews-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.checked {
  color: yellow;
}