body {
    font-family: Arial, sans-serif;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

img {
    width: 100%;
}

.fade {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
